@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
}

.class-body-container {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    scroll-behavior: smooth;
}

nav {
    border: 1px solid gray;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10px 0px;
    box-sizing: border-box;
}

.class-container-header {
    width: 100%;
    height: 60px;
}

.class-container-header nav .button-nav {
    height: 100%;
    border: 1px solid transparent;
    width: 150px;
    line-height: 14px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.class-container-header nav .button-nav:hover {
    background-color: rgb(237 244 255 / 80%);
    border: 1px solid black;
}

.selected-btn-nav {
    background-color: rgb(237 244 255 / 80%) !important;
    border: 1px solid black !important;
}

.class-container-middle {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/BitacoraAmor/images/porfalio/pies_img.jpg);
    position: relative;
    filter: brightness(0.6);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container {
    width: 100%;
    box-sizing: border-box;
}

.button-btn {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
}

.class-container-intro {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50px;
}

.class-container-intro h1 {
    margin: 15px 0px;
}

.icon-intro {
    background-repeat: no-repeat;
    background-image: url(/BitacoraAmor/images/porfalio/icon_intro.webp);
    background-size: auto;
    background-position: center;
    height: 60px;
    width: 105px;
}

.class-container-middle3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 25px 0px 0px 0px;
}

.image-collage:hover {
    opacity: 0.7;
}

.class-container-middle2 {
    width: 100%;
    height: 600px;
    flex-direction: row;
}

.class-container-middle2 .container-img-left {
    width: 50%;
    height: 100%;
    padding: 5%;
}

.class-container-middle2 .container-text-right {
    width: 50%;
    height: 100%;
}

.img-us {
    width: 100%;
    height: 506px;
}

.container-text-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: left;
    align-items: center;
}

.carousel-slide {
    min-width: 20%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    max-width: 350px;
    height: 400px;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    border: none;
    background-color: rgb(237 244 255 / 80%);
    cursor: pointer;
    color: black;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: white;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.container-carousel {
    width: 100%;
}

.class-container-middle4 {
    width: 100%;
    height: auto;
}


.modal-eco {
    background-color: white;
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 600px;
    text-align: center;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 15px;
}

.container-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.btn-close {
    color: black;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 22px;
}

.show {
    display: block !important;
}

.hidden {
    display: none I !important;
}

.class-layout-manager {
    width: 100%;
    height: 100%;
}

.modal-eco h2 {
    color: red;
    height: 25px;
}

.modal-eco h4 {
    height: 25px;
}

.btn-mini-game {
    background-color: rgb(237 244 255 / 80%);
    border: 1px solid gray;
    color: black;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20%;
}

.random-btn-static {
    left: 37%;
}

.random-btn {
    left: 55%;
}

.container-buttons-randoms {
    position: relative;
    overflow: hidden;
    height: calc(100% - 110px);
}
